//COLORS

:root, html.light {            
    --color-primary-light: #dc143c;
    --color-primary-dark: #8b0000;
    
    --color-surface-primary: #ffffff;
    --color-surface-secondary: #f7f7f7;
    
    --color-grey-dark: #777;
    --color-grey-dark-2: #999;
    
    --color-bg: #fff;
    --color-on-surface: #000;
    --color-footer: var(--color-on-surface);
}

html.dark {
    --color-bg: #282828;
    --color-on-surface: #ffffff;
    --color-surface-secondary: #575757;
    --color-footer: #3f3f3f;
}

$color-primary-light: #dc143c;
$color-primary-dark: #8b0000;
$color-on-surface: #000;

//BOX SHADOW

$box-shadow-default: 0 1.5rem 4rem rgba($color-on-surface, 0.15);

// BORDER RADIUS

$border-radius-small: 3px;

//FONT

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
