---
import { getCollection } from "astro:content";
const today = new Date();
const projects = await getCollection("project");
---

<footer class="footer u-center-text">
  <div class="row u-margin-bottom-small">
    <div class="col-1-of-3">
      <div class="footer__heading u-margin-bottom-small">Home</div>
      <div class="footer__info">
        <ul>
          <li><a href="/#alex-bartleynees">alex-bartleynees</a></li>
          <li><a href="/#projects">Projects</a></li>
          <li><a href="/#aboutme">About Me</a></li>
          <li><a href="/#blog">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="footer__heading u-margin-bottom-small">Projects</div>
      <div class="footer__info">
        <ul>
          {
            projects.map((project) => (
              <li>
                <a href={`/#${project.slug}`}> {project.data.title} </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="footer__heading u-margin-bottom-small">Contact</div>
      <div class="footer__info">
        <ul>
          <li>
            <a href="mailto:alex@alexbartleynees.com"
              >alex@alexbartleynees.com</a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/in/alex-bartley-nees/"
              >Linked In</a
            >
          </li>
          <li>
            <a href="https://github.com/alex-bartleynees">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <span>
    &copy; {today.getFullYear()} Alexander Bartley Nees All rights reserved.
  </span>
</footer>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .footer {
    position: relative;
    padding: 5rem 0 5rem 0;
    background-color: var(--color-footer);
    color: var(--color-surface-primary);

    @include respond(tab-port) {
      max-width: 100%;
    }
  }
</style>
