@use "../abstracts/" as *;

body {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 1px;
  color: var(--color-on-surface);
}

.navigation-heading {
  font-size: $default-font-size;
  font-weight: 600;

  .dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: #ff0f13;
    border-radius: 50%;
    display: inline-block;
  }
}

h1,
h1.heading-primary {
  font-size: 4rem;
  font-weight: 300;
  border-radius: 3px;
  max-width: fit-content;
  white-space: nowrap;
  text-wrap: balance;

  @media (max-width: 37.5em) {
    white-space: normal;
  }

  span {
    color: #ff0f13;
  }
}

h2,
.heading-secondary {
  font-size: 3rem;
  font-weight: 500;
}

h3,
.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 300;
  border-radius: 3px;
  white-space: nowrap;
  margin-block: 2rem;
}

h4,
.heading-4 {
  font-size: 2rem;
  font-weight: 400;
  border-radius: 3px;
  white-space: nowrap;

  &-blog {
    font-weight: 200;
    font-size: $default-font-size;
  }
}

.blog__info {
  text-align: center;

  &--title {
    font-size: 2rem;
    font-weight: 400;
    max-width: 30rem;
  }

  &--date-author {
    font-size: $default-font-size;
    font-weight: 200;
    white-space: nowrap;

    &-span {
      font-weight: 400;
    }
  }
}

p {
  font-size: $default-font-size;
  margin-block: 1rem;
}

.paragraph {
  border-radius: 3px;
  max-width: fit-content;
  letter-spacing: 2px;

  @include respond(phone) {
    white-space: normal;
  }
}

.footer__heading {
  font-size: 2rem;
}

.footer__info {
  font-size: $default-font-size;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--color-surface-primary);
  }
}

.link {
  text-decoration: none;
  color: var(--color-on-surface);
}

.underline {
  text-decoration: underline;
}

ul {
  margin-inline: 4rem;
}

li {
  font-size: 1.4rem;
}
